$color-main: rgb(71, 212, 255);
$color-error: rgb(255, 71, 71);
$color-light: rgb(240, 240, 240);
$color-dark: rgb(37, 37, 37);

$color-text-light: rgba(255, 255, 255, 0.8);
$color-text-dark: rgba(0, 0, 0, 0.8);

$shade-box-shadow: rgba(0, 0, 0, 0.2);
